<!doctype html>
<!--[if IE 8]> <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie ie9" lang="en"> <![endif]-->
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sforce editor | Welcome</title>
    <link rel="stylesheet" href="css/app.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
    	
  </head>
  <body>
    
    <header class="header">
      <div class="logo-wrapper">
        <a class="logo" href="/">CT Mobile</a>
      </div>
      <nav class="row  top-bar  mainNav" data-topbar>
        <ul class="title-area">
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#" id="head-menu-video">Widget video</a></li>
            <li><a href="#" id="head-menu-slide" >Widget slider</a></li>
            <li><a href="#" id="head-menu-sortable">Widget sortable</a></li>
            <li class="has-dropdown" id="chart-menu">
              <a href="#">Chart pie</a>
              <ul class="dropdown">
                <li><a href="#" jq-type="pie">Pie chart</a></li>
                <li><a href="#" jq-type="line">Line chart</a></li>
                <li><a href="#" jq-type="spline">Spline chart</a></li>
                <li><a href="#" jq-type="area">Area chart</a></li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
    </header>

    <div class="row  content">
    <div id="allwidget-content">
    <!-- chartwidget-content -->
    <div id="chartwidget-content">
      <!--sidebar-->
      <aside class="large-4  columns">
        <div id="left-sidebar"  class="ui-island" contenteditable='true'>
          <div class="rich-text">
	      <header>
		<h2>Lorem ipsum</h2>
	      </header>
	      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque eligendi esse harum maxime perferendis? Asperiores commodi exercitationem facere laudantium perspiciatis praesentium soluta? Ad asperiores at consectetur ipsa laudantium odit quod.</p>
	      <footer>
		<button class="custom-button">Lorem ipsum dolor</button>
	      </footer>
          </div>
        </div>
      </aside>
      <!--main column-->
      <div class="large-8  columns  content__main">
        <div id="title-chart" class="ui-island  hero" contenteditable='true'>
          <div class="rich-text">
	      <header>
		<h1>Lorem ipsum</h1>
		
	      </header>
	      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolorem inventore nemo nesciunt optio quis sapiente sunt! Adipisci consectetur culpa ducimus id in, nam odit rem similique totam voluptas voluptatem?</p>
	  </div>
       </div>
        <div id="body-chart" class="ui-island">
          <div class="chart">
         <!--    <a href="#" data-reveal-id="myModal">Chart control</a>-->
             <div class="row center">
             		<a class="button lage left" href="#" data-reveal-id="chartControlModal">Chart control</a>
             		<a class="button lage right" href="#" data-reveal-id="chartDataModal">Chart data</a>
             </div>
             <div class="row">
			      <figure class="chart-figure">
					<div id="chartstub">
					  <figcaption>Simple chart</figcaption>
					  <img src="img/chart.png" alt=""/>
					</div>
					<div id="chartwidget"  style="width:100; height:100%;">
					
					</div>

			      </figure>
	      </div>
	      <div id="chartwidget-theme"></div>
	      <div id="chartwidget-code"></div>
          </div>
        </div>
      </div>
      </div><!-- chartwidget-content -->
    
      </div>
    </div>
    <!-- ========================= TEMPLATES =============================== -->
	<!--   ---------------------- main Video TPL ------------------------------ -->
	<script type="text/template" id="main-video-template">
	<!-- videowidget-content -->
    <div id="videowidget-content">
		 <div class="large-9  columns  ui-island content__main">
			<div class="row">

				<div class="large-4 columns">
					<br><br>
					<a  id="video-control-btn" class="button" data-reveal-id="videoControlModal">Video controls</a>
				</div>
				<div class="large-4 columns" id="video-logo">
					<img src="img/youtube.png" />
				</div>

			</div>
			
		 </div>
		 <div class="large-9 column left ui-island" id="video-player">
		 </div>
    </div><!-- videowidget-content -->
	</script>
 	<!--   ---------------------- player Video TPL ------------------------------ -->
 	<script type="text/template" id="player-youtube-video-template" >
 		<div class="flex-video">	
			<iframe class="youtube-player" type="text/html" width="<%= video_width %>" height="<%= video_height %>" src="http://www.youtube.com/embed/<%= video_id %>?autohide=1&autoplay=<%= autoplay %>" frameborder="0"></iframe>
		</div>
 	</script>

 	<script type="text/template" id="player-other-video-template" >
 		<video class="video-js vjs-default-skin" width="<%= video_width %>" height="<%= video_height %>"
			poster="http://video-js.zencoder.com/oceans-clip.png"	data-setup='{ "controls": true, "autoplay": <%= autoplay %>, "preload": "auto" }' >

			<source src="<%= video_id %>" type='video/mp4' />
		</video>
 	</script>

	<!--  --------------------- Chart TPL ----------------------------- -->
	<script type="text/template" id="main-chart-template">
	<!-- chartwidget-content -->
    <div id="chartwidget-content">
      <!--sidebar-->
      <aside class="large-4  columns">
        <div id="left-sidebar"  class="ui-island" contenteditable='true'>
          <div class="rich-text">
	      <header>
		<h2>Lorem ipsum</h2>
	      </header>
	      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque eligendi esse harum maxime perferendis? Asperiores commodi exercitationem facere laudantium perspiciatis praesentium soluta? Ad asperiores at consectetur ipsa laudantium odit quod.</p>
	      <footer>
		<button class="custom-button">Lorem ipsum dolor</button>
	      </footer>
          </div>
        </div>
      </aside>
      <!--main column-->
      <div class="large-8  columns  content__main">
        <div id="title-chart" class="ui-island  hero" contenteditable='true'>
          <div class="rich-text">
	      <header>
		<h1>Lorem ipsum</h1>
		
	      </header>
	      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolorem inventore nemo nesciunt optio quis sapiente sunt! Adipisci consectetur culpa ducimus id in, nam odit rem similique totam voluptas voluptatem?</p>
	  </div>
       </div>
        <div id="body-chart" class="ui-island">
          <div class="chart">
         <!--    <a href="#" data-reveal-id="myModal">Chart control</a>-->
             <div class="row center">
             		<a class="button lage left" href="#"  data-reveal-id="chartControlModal">Chart control</a>
             		<a class="button lage right" href="#" data-reveal-id="chartDataModal">Chart data</a>
             </div>
             <div class="row">
			      <figure class="chart-figure">
					<div id="chartstub">
					  <figcaption>Simple chart</figcaption>
					  <img src="img/chart.png" alt=""/>
					</div>
					<div id="chartwidget"  style="width:100; height:100%;">
					
					</div>

			      </figure>
	      </div>
	      <div id="chartwidget-theme"></div>
	      <div id="chartwidget-code"></div>
          </div>
        </div>
      </div>
      </div><!-- chartwidget-content -->
	</script>
    <!-- -----------------------TPL chart Data ------------------------ -->
    <div id="chartDataModal" class="reveal-modal" data-reveal>
    	<fieldset>
	      <legend>Chart Data</legend>
	       <div class="row">
		<table id="chartDataTable" width="100%">
		  <thead>
		    <th width="50%">Name</th>
		    <th width="30%">Data</th>
		    <th width="20%">Control</th>
		    <tbody>
		      <!-- b:chart data item -->
			  <tr>
			  <td>
			    <input id="chart-data-name-0" type="text" placeholder="New Name..." />
			  </td>
			  <td>
			    <input id="chart-data-value-0" type="text" placeholder="0" value=0 />
			  </td>
			  <td>
			    <a class="button tiny" href="#">Delete item</a>
			  </td>		       
		      </tr>
		      <!-- e:chart data item -->
		    </tbody>
		  </thead>
		</table>
		<a  id="data-add-btn" class="button">Add new item</a>
	       </div>
	   </fieldset>
    	<a class="close-reveal-modal">&#215;</a> 
    </div>
	<!-- ----------------------- TPL chart Control ---------------------------- -->
 	<script type="text/template" id="data-chart-item-template">
 	  	<tr>
			  <td>
			      <input id="data-chart-name-0" type="text" placeholder="New Name..." value="<%= data_name %>" />
			  </td>
			  <td>
			      <input id="data-chart-value-0" type="text" placeholder="0" value=<%= data_value %> />
			  </td>
			  <td>
			      <a id="data-del-btn-<%= data_i %>" class="data-del button tiny">Delete item</a>
			  </td>
		</tr>	
 	</script>

 	<!--  ============================ MODAL WINDOWS ========================== -->
 	<div id="videoControlModal" class="reveal-modal" data-reveal>
 		<fieldset>
 			<legend>Video setting</legend>
 			<div class="row">
 				<!-- <form name="video-prop"> -->
 				<div class="large-5 columns">
 					<label for="video-source">Video source</label>
 					<select id="video_source">
 						<option value="Youtube" selected>Youtube</option>
 						<option value="Custom-URL">Custom URL</option>
						<option value="SF-Content">SF Content</option>
 					</select>
 				
					 <label>Width</label>
				     <input id="video_width" type="text" name="video_width" placeholder="100%" value="100%" />
				     <label>Height</label>
				     <input id="video_height" type="text" name="video_height" placeholder="100%" value="500" />			    

 				</div>
 				<div class="large-4  large-offset-3 columns">
 					<label for="video_active">Active</label>
					<input id="video_active" type="checkbox" checked /><br><br>
					
					<label for="autoplay">Autoplay</label>
					<input id="autoplay" type="checkbox" /><br><br>
					
					<label for="video_id">Video Id</label>
					<input  id="video_id" type="text" value="nJQW-rbHMS0" placeholder="nJQW-rbHMS0" />
 				</div>
 				<!-- </form> -->
 			</div>
 		</fieldset>
 		<a class="close-reveal-modal">&#215;</a> 
 	</div>
	<!--  ------------------------- Control Modal window ---------------------- -->
    <div id="chartControlModal" class="reveal-modal" data-reveal> 
       <form name="chart-prop">
	   <fieldset>
	      <legend>Common setting</legend>
	      <div class="row">
	        <!-- column-1-->
	      	<div class="large-4 columns">
	      		<label for="themeList">Theme</label>
				<select name="themeList" onchange="" id="themeList" >		
				    <optgroup label="Clear"></optgroup>
				    <option value="Clear-Blue" selected="selected">Clear Blue</option>
				    <option value="Clear-Mozaic">Clear Mozaic</option>
				    <option value="Clear-Green">Clear Green</option>
				    <option value="Clear-Grey">Clear Grey</option>
				    <option value="Clear-Orange">Clear Orange</option>
				    <option value="Clear-Red">Clear Red</option>

				    <optgroup label="Dotted"></optgroup>
				    <option value="Dotted-Blue">Dotted Blue</option>
				    <option value="Dotted-Mozaic">Dotted Mozaic</option>
				    <option value="Dotted-Green">Dotted Green</option>
				    <option value="Dotted-Grey">Dotted Grey</option>
				    <option value="Dotted-Orange">Dotted Orange</option>
				    <option value="Dotted-Red">Dotted Red</option>

				    <optgroup label="Rounded"></optgroup>
				    <option value="Rounded-Blue">Rounded Blue</option>
				    <option value="Rounded-Mozaic">Rounded Mozaic</option>
				    <option value="Rounded-Green">Rounded Green</option>
				    <option value="Rounded-Grey">Rounded Grey</option>
				    <option value="Rounded-Orange">Rounded Orange</option>
				    <option value="Rounded-Red">Rounded Red</option>

				    <optgroup label="Square"></optgroup>
				    <option value="Square-Blue">Square Blue</option>
				    <option value="Square-Mozaic">Square Mozaic</option>
				    <option value="Square-Green">Square Green</option>
				    <option value="Square-Grey">Square Grey</option>
				    <option value="Square-Orange">Square Orange</option>
				    <option value="Square-Red">Square Red</option>
				</select>
			</div><!-- column-1-->
			<!-- column-2-->
			<div class="large-4 columns">
				<label for="custom-style">Custom style</label>
				<input id="custom-style" type="checkbox">
			</div><!-- column-2-->
			<!-- column-3-->
			<div class="large-4 columns">
				<label for="activechart">Active</label>
				<input id="activechart" type="checkbox">				
			</div>
			<!-- column-3-->
	      </div>		
	   </fieldset>
	   <fieldset>
	      <legend>Chart settings</legend>
	      <div class="row">
	      <!-- colum 1 -->
			  <div class="large-4 columns">
			    <label>Title</label>
			    <input id="title" type="text" placeholder="Chart title..." />
			    <label>Width</label>
			    <input id="width" type="text" name="width" placeholder="100" value=100 />
			    <label>Height</label>
			    <input id="height" type="text" name="height" placeholder="100" value=100 />			    
		
			   </div>
			<!-- colum 1 -->
			<!-- colum 2 -->
			 <div class="large-4 columns">
			 	    <label for="showlegend">Show legended</label>
			    	<input  id="showlegend" type="checkbox" ></input>
			    	<br>			  
				    <label for="legend">Legend style</label>
				    <input id="legend" type="text" name="legend" placeholder="100" value=100 />
			      <label for="legendlocation">Legend location</label>
			      <select id="legendlocation" name="legendlocation" >
						  <option value="left">Left</option>
						  <option selected="selected" value="right">Right</option>
						  <option value="top">Top</option>
						  <option value="bottom">Bottom</option>
			      </select>
			 </div>
			<!-- colum 2 -->
	      </div>
	   </fieldset>
	   </form>

	
       <a class="close-reveal-modal">&#215;</a>
     </div>
    <!--  -----------------------Chart templatea------------------- -->
    <script type="text/template" id="chart-template">
	    console.log("tpl chart <%= type %>");
	    var chartType = "<%= type %>";
	    
	    var strFormat = "";
	    var valType = "";
	    var maxScale = "<%= max %>";
	    var minScale = "<%= min %>";
	    var theme = "<%= themeName %>"; 
	    var style = "<%= styleName %>";
	    	    
	    var shadowChart = true;
	    var axesSet = [{maximum: maxScale, minimum: minScale}];
            if (chartType == 'pie'){
                strFormat = "%.1f%%";
                var valType = "percentage";
                axesSet = [];
            }
            if (chartType == 'bar'){
                axesSet = [];
                axesSet.push({maximum: 100, type: 'category'});
            }
        
         switch (theme) { 
	      case 'Grey': 
		      var paletteColors = ['#c9c8c9', '#3d3d3d', '#a3a2a3', '#696769', '#888688']; 
		      var strokeSeries = '#ffffff'; 
		      var labelFont = (chartType == "pie") ? ['18px sans-serif', '#ffffff'] : ['13px sans-serif', '#333333']; 
		      var legend = ['15px sans-serif', '#000000', '#a3a2a3', '#333333']; 
		      break; 
	      case 'Green': 
		      var paletteColors = ['#eae0bf', '#96704f', '#769f3f', '#af9960', '#acd662']; 
		      var strokeSeries = '#331e11'; 
		      var labelFont = (chartType == "pie") ? ['18px sans-serif', '#331e11'] : ['13px sans-serif', '#331e11']; 
		      var legend = ['15px sans-serif', '#331e11', '#af9960', '#5f3b21']; 
		      break; 
	      case 'Orange': 
		      var paletteColors = ['#fbcb93', '#fb8f49', '#a93603', '#d85d03', '#fbad18']; 
		      var strokeSeries = '#ffffff'; 
		      var labelFont = (chartType == "pie") ? ['18px sans-serif', '#331e11'] : ['13px sans-serif', '#333333']; 
		      var legend = ['15px sans-serif', '#262726', '#a93603', '#a93603']; 
		      break; 
	      case 'Red': 
		      var paletteColors = ['#eeb2ac', '#ff5543', '#771211', '#d4d7db', '#d72008']; 
		      var strokeSeries = '#ffffff'; 
		      var labelFont = (chartType == "pie") ? ['18px sans-serif', '#ffffff'] : ['13px sans-serif', '#333333']; 
		      var legend = ['15px sans-serif', '#262726', '#70767e', '#181818']; 
		      break; 
	      case 'Blue': 
		      var paletteColors = ['#59abe4', '#0c476d', '#96d0fc', '#3472a7', '#dae5f4']; 
		      var strokeSeries = '#111111'; 
		      var labelFont = (chartType == "pie") ? ['18px sans-serif', '#0a0a0a'] : ['13px sans-serif', '#333333']; 
		      var legend = ['15px sans-serif', '#0a0a0a', '#7d8088', '#7d8088']; 
		      break; 
	      case 'Mozaic': 
		      var paletteColors = ['#ec4435', '#1f88cc', '#52b344', '#fbc51f', '#303130']; 
		      var strokeSeries = '#ffffff'; 
		      var labelFont = (chartType == "pie") ? ['18px sans-serif', '#ffffff'] : ['12px sans-serif', '#303130']; 
		      var legend = ['15px sans-serif', '#0a0a0a', '#aaaaaa', '#303130']; 
		      break; 
	      default : //--Green
 			  var paletteColors = ['#eae0bf', '#96704f', '#769f3f', '#af9960', '#acd662']; 
		      var strokeSeries = '#331e11'; 
		      var labelFont = (chartType == "pie") ? ['18px sans-serif', '#331e11'] : ['13px sans-serif', '#331e11']; 
		      var legend = ['15px sans-serif', '#331e11', '#af9960', '#5f3b21']; 
	      break; 
	      }; 
	      switch (style) { 
		case 'Square': 
		      var lineSeries = 1; 
		      var legendLine = 2, legendCorner = 0; 
		      break; 
		case 'Dotted': 
		case 'Rounded': 
		      var lineSeries = 0; 
		      var legendLine = 2, legendCorner = 6; 
		      break; 
		case 'Clear': 
		      var lineSeries = 1; 
		      var legendLine = 1, legendCorner = 0; 
		      break; 
		default : break; 
	      }; 

	    //jQuery.noConflict();
	 	jQuery('#chartstub').empty();
	    jQuery('#chartwidget').jqChart({
                title: { text: '<%= title %>' },
                legend: { 
					title: { text: '<%= title %>', fillStyle: legend[3], font: '17px sans-serif', }, 
					location : '<%= legendlocation %>', // legend location 
					border: { // legend border 
						padding: 8, 
						strokeStyle: legend[2], 
						lineWidth : legendLine, 
						cornerRadius: legendCorner 
					}, 
					font: legend[0], // item text font 
					textFillStyle: legend[1], // item text color 
					background: '<%= legendbackground %>', // legend background 
					margin: 5, // legend margings 
					visible : true,//<%= showlegend %> 
				}, 
                border: { strokeStyle: '<%= bordercolor %>', lineWidth: 0},
				paletteColors: { 
					type: 'customColors', 
					customColors: paletteColors // backgroung pie segments 
				}, 
				tooltips: { borderColor: 'auto' }, // tooltip border 
				animation: 3, 
				shadows: { enabled: shadowChart }, 
                animation: 3,
                axes: axesSet,
                series: [
                            {
                                type: '<%= type %>',
                                strokeStyle : strokeSeries, // border pie segments color 
				 lineWidth : lineSeries, // border pie segments 
                                labels: {
                                    stringFormat: strFormat,
                                    valueType: valType,
                                    font: labelFont[0], // pie text 
				     fillStyle: labelFont[1] // pie text color
                                },
                                data: [['New Name' , 10], ['New Name1' , 15], ['New Name2' , 20]]
                            }
                        ]
            });

            if (chartType == 'pie'){
                jQuery('#chart').bind('tooltipFormat', function (e, data) {
                    var percentage = data.series.getPercentage(data.value);
                    percentage = data.chart.stringFormat(percentage, '%.2f%%');
    
                    return '<b>' + data.dataItem[0] + '</b></br>' +
                           data.value + ' (' + percentage + ')';
                });
            }
    </script>
    <!-- =========================Scripts=================================  -->
    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/foundation/foundation.reveal.js"></script>
    <script src="backbone.marionette/underscore.js"></script>
    <script src="backbone.marionette/backbone.js"></script> 
    <script src="backbone.marionette/backbone.marionette.min.js"></script>
<!-- <script src="backbone.marionette/backbone.wreqr.js"></script> -->  
    <script src="backbone.marionette/json2.js"></script> 
    <script src="ckeditor/ckeditor.js"></script>
    <script src="JSLibrary/js/jquery.jqChart.min.js"></script>
    <script src="http://vjs.zencdn.net/4.1/video.js"></script> 
    <script src="js/app.ob.js"></script>
  </body>
</html>