@charset "utf-8";
/*================================== Table of Contents ===================================================================================== */
/*  1. Sortable Widget
/*  2. Slider Widget
/*  3. Chart Widget  
/*	4.  
/*=============================================================================================================================================*/


/* ---------------------------------------------------------------------------------------------------------------------   1. Sortable Widget */

ul.sortablewidget {
	position:relative;
	width:100%;
	font-family:inherit;
	}
	
	/* ---------------------------- sortable item */
	ul.sortablewidget li {
		position:relative;
    	border: none;
		background-color:#eae0bf;  /* background for every 1st items */ 
		-webkit-border-radius: 6px;
				border-radius: 6px;
		-webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
				box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.4), inset 0px 1px 5px 0px rgba(0, 0, 0, 0.2); 
		font-size:18px;
		color:#331e11;       /* text-color for all items  */
    	font-weight: normal;
		line-height:20px;
		cursor:default;
		padding:11px 20px 9px 40px;
		margin:14px 10px;
		}
 		ul.sortablewidget li[val*='5'],
		ul.sortablewidget li[val*='10'],
		ul.sortablewidget li[val*='15'],
		ul.sortablewidget li[val*='20'] { background-color:#96704f; } /* background  for every 5th items */
		ul.sortablewidget li[val*='4'],
		ul.sortablewidget li[val*='9'],
		ul.sortablewidget li[val*='14'],
		ul.sortablewidget li[val*='19'] { background-color:#af9960; } /* background for every 4th items */
		ul.sortablewidget li[val*='3'],
		ul.sortablewidget li[val*='8'],
		ul.sortablewidget li[val*='13'],
		ul.sortablewidget li[val*='18'] { background-color:#769f3f; } /* background for every 3th items */
		ul.sortablewidget li[val*='2'],
		ul.sortablewidget li[val*='7'],
		ul.sortablewidget li[val*='12'],
		ul.sortablewidget li[val*='17'] { background-color:#acd662;  } /* background for every 2nd items */

		
		/* ----------------------------------- sortable icon */
		ul.sortablewidget li span.ui-icon {
			position:absolute;
			left:13px;
			top:50%;
			height: 12px;
    		width: 12px;
			background:#61432f;   /* background icon */
			border:none !important;
			-webkit-border-radius: 10px;
					border-radius: 10px;
			-webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1), inset 0px 1px 1px 0px rgba(0, 0, 0, 0.65);
					box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 1), inset 0px 1px 1px 0px rgba(0, 0, 0, 0.65); 
			display: block;
    		overflow: hidden;
    		text-indent: -99999px;
			margin-top:-6px;
			}



/* ---------------------------------------------------------------------------------------------------------------------   2. Slider Widget */

.sliderwidget {
	position:relative;
	height:9px;
	background:#eae0bf;      /* background slider main axis  */
	-webkit-border-radius: 6px;
			border-radius: 6px;
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.6);
			box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.6); 
	margin:54px 5% 90px;
	}
		
	/* ----------------------------------- slider range */
	.sliderwidget .ui-slider-range {
		position:absolute;
    	top:0;
    	height:9px;
		background: #769f3f;    /* background slider range    */ 
		-webkit-border-radius: 6px;
				border-radius: 6px;
		-webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.85);
				box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.85); 
		z-index:1;
		}
		
	/* ----------------------------------- slider handle */
	.sliderwidget .ui-slider-handle {
		position:absolute;
		top:-17px;
		height: 35px;
		width: 35px;
		background:#331e11;
		border:3px solid #eae0bf;
		-webkit-border-radius: 30px;
				border-radius: 30px;
		-webkit-box-shadow: 0px 0px 1px #555555, 2px 2px 8px 0px rgba(0, 0, 0, 0.6); 
				box-shadow: 0px 0px 1px #555555, 2px 2px 8px 0px rgba(0, 0, 0, 0.6); 			
		font-family: 'HelveticaBoldCondensed', Helvetica, Arial, sans-serif;
		font-size:14px;
		color:#ffffff;			/* text slider  handle  */ 
		line-height:38px;
		text-align:center;
		margin-left:-19px;
		z-index:4;
		}
		
		/* ----------------------------------- slider tooltip */
		#tooltip {
			position:absolute;
			top:-50px;
			left:-22px;
			width:82px;
			height:30px;
			background:#eae0bf;
			-webkit-box-shadow: inset 0px -1px 2px 0px rgba(0, 0, 0, 0.4);
					box-shadow: inset 0px -1px 2px 0px rgba(0, 0, 0, 0.4); 
			-webkit-border-radius: 5px;
					border-radius: 5px;
			display:none;
			font-family: 'HelveticaBoldCondensed', Helvetica, Arial, sans-serif;
			font-size:18px;
			color:#331e11;		/* text slider  tooltip  */ 
			line-height:32px;
			text-align:center;
			text-decoration:none;
			z-index:5;
			}
			#tooltip:after {   /* arrow slider  tooltip  */  
				content:'';
				position:absolute;
				top:26px;
				left:0;
				width:82px;
				height:12px;
				background:no-repeat center center;  
				background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAMCAYAAACEJVa/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAATBJREFUeNqkksFOwkAQhsfNegEqL8NrmPQEwejJt/B1PJGQeDLx5tGTV+NJbZeyLRWa0naLurTuT9KkAalE99Ls/PN/052Zo9nbfUn/PEzrNRXF3zjwwc+lH1Kn3aKO1aJjzg8GfGlNaaIozRSxp+eXx1fH0/N5vBEOBSwWMcEHPwvfo54j5KkrpIbwG6gCuMLXxmefX171GN6VZfmdJ2c2hCZQHTCZBrbx3W4aWzUIASP0xSTQUbTcAeGOOHTkIb8aCKt32gg3wvP7qAQDOo+DL+6IQ0defaJ8e2RIMJWGZVmOUOTEatMyychxZWGePNwG7EAqUJqqsTEMAOp2LRbHSTH1wwHiP+0U37dEMAgvODPTu159fF7k+Wq8byl50zYqlY+M+cH8kVs2LPW3AAMAADAgMmsDXIgAAAAASUVORK5CYII=);
				z-index:6;
				}

	/* ----------------------------------- slider calibration */
	.sliderwidget .calibration {
		position:absolute;
		left:0;
		top:9px;
		height:33px;
		width:100%;
		font-family: 'HelveticaBoldCondensed', Helvetica, Arial, sans-serif;
		font-size:14px;
		color:#5f3b21;     /* text  calibration  */ 
		line-height:16px;
		}
		.sliderwidget .calibration .separator {
			float:left;
			position:relative;
			height:17px;
			padding-top:16px;
			}
			.sliderwidget .calibration .separator:after {
				content:'';
				position:absolute;
				top:1px;
				right:0;
				width:1px;
				height:6px;
				background:#5f3b21;  /* color  calibre */ 
				}
				.sliderwidget .calibration .separator:first-child:after,
				.sliderwidget .calibration .separator:last-child:after { display:none; }
				
			.sliderwidget .calibration .separator:first-child {
				width:0px !important;
				text-indent:0px !important; 
				}






/* ---------------------------------------------------------------------------------------------------------------------   3. Chart  Widget */

.chartwidget {
	background: none;    /* background chart widget */
	border: none ;      /* border chart widget */
	margin:15px 10px;
	} 
 
	/* ----------------------------------------------------------------------------- chart */
	.chartwidget .ui-jqchart-tooltip {
		background-color:#ffffff !important;   /* background chart tooltip */
		border:2px solid #5f3b21 !important;  /* border chart tooltip */
		-webkit-border-radius: 6px;
				border-radius: 6px;
		-webkit-box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.4);
				box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
		font-size:14px;
		line-height:18px;
		color:#547c38;    /* label name chart tooltip */
		padding:3px 5px;
		z-index:100;
		}
		.chartwidget .ui-jqchart-tooltip b {
			font-size:16px;
			line-height:18px;
			color:#5f3b21;    /* label value or series chart tooltip */
			}
		.chartwidget .ui-jqchart-tooltip span {
			font-size:13px;
			color:#547c38 !important;    /* label name chart tooltip */
			}
 



